@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Gravitas+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;  
}

:root {
    --verde: #BFDB38;
    --rosa: #FA6868;
    --laranja: #FAAC68;
    --azul-esc: #04364A;
}

.header{
    height: 65px;   /* altura real do header */
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--azul-esc);

}

.nav-bar {
    display: flex;
    height: 50px;
    width: 100%;
    padding: 0% 1%;
    align-items: center;
    justify-content: space-between;
    

}

nav img {
    max-height: 100%;
    width: auto;
}

.cadastro {
    display: flex;
    align-items: center;
    flex-direction: column;
    

}