@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Gravitas+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;  
}

.header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: purple;
}

#img-teste {
    max-width: 10;
}

.cadastro {
    background: brown;
}