@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Gravitas+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;  
}

.header{
    height: 65px;   /* altura real do header */
    padding: 0 20px;
    display: flex;
    align-items: center;
    background: purple;

}

.nav-bar {
    height: 50px;
    display: flex;
    align-items: center;
    background: blue;
    

}

nav img {
    max-height: 100%;
    height: auto;
}

.cadastro {
    background: brown;
}