@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Gravitas+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/*BOLD 700   font-family: "Gravitas One", serif; font-weight: 400; */

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: blue;
}

.titulo_principal {
    font-family: "Gravitas One", serif;
    font-weight: bold;
    color: aqua;
}